# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Plugins/**/Binaries/
Plugins/**/Intermediate/

# IDE
.vs/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Android packaging
*.apk
*.obb

# OS / Office 임시 파일
Thumbs.db
.DS_Store
~$*
